<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
	  <add id="Rsgitech_Member::Rsgitech" title="Rsgitech Member" translate="title" module="Rsgitech_Member" sortOrder="90" dependsOnModule="Rsgitech_Member" resource="Rsgitech_Member::Rsgitech"/>
	  <add id="Rsgitech_Member::member" title="Member" translate="title" module="Rsgitech_Member" parent="Rsgitech_Member::Rsgitech" sortOrder="50" dependsOnModule="Rsgitech_Member" resource="Rsgitech_Member::member"/>
	  <add id="Rsgitech_Member::member_allmember" title="Member" translate="title" module="Rsgitech_Member" parent="Rsgitech_Member::member" sortOrder="10" dependsOnModule="Rsgitech_Member" action="member/allmember" resource="Rsgitech_Member::member_allmember"/>
	</menu>
</config>
  